[submodule "2670Fall/Assets/Artisandream/"]
	path = 2670Fall/Assets/Artisandream/
	url = https://github.com/anthonyromrell/Tools.git
[submodule "2670Fall/Assets/ArtisanDream"]
	path = 2670Fall/Assets/ArtisanDream
	url = https://github.com/anthonyromrell/Tools.git
[submodule "2670Fall/Assets/Experimental"]
	path = 2670Fall/Assets/Experimental
	url = https://github.com/anthonyromrell/Experimental.git
[submodule "2670Fall/Assets/Unity.CSharp.Basics"]
	path = 2670Fall/Assets/Unity.CSharp.Basics
	url = https://github.com/anthonyromrell/Unity.CSharp.Basics.git
[submodule "2670Fall/Assets/ArtisanDream.Legacy"]
	path = 2670Fall/Assets/ArtisanDream.Legacy
	url = https://github.com/anthonyromrell/ArtisanDream.Legacy.git
[submodule "2670Fall/Assets/NavMeshComponents/"]
	path = 2670Fall/Assets/NavMeshComponents/
	url = https://github.com/Unity-Technologies/NavMeshComponents.git
[submodule "2670Fall/Assets/NavComps"]
	path = 2670Fall/Assets/NavComps
	url = https://github.com/anthonyromrell/NavMeshComponents.git
