[submodule "2670Fall/Assets/Artisandream/"]
	path = 2670Fall/Assets/Artisandream/
	url = https://github.com/anthonyromrell/Tools.git
[submodule "2670Fall/Assets/ArtisanDream"]
	path = 2670Fall/Assets/ArtisanDream
	url = https://github.com/anthonyromrell/Tools.git
[submodule "2670Fall/Assets/Experimental"]
	path = 2670Fall/Assets/Experimental
	url = https://github.com/anthonyromrell/Experimental.git